.person {
  gap: 20px;
  width: 45%;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.person:hover {
  transform: scale(0.95);
}

.person .imageContainer {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
}

.person .imageContainer img {
  width: 100%;
  object-fit: contain;
}

.person main {
  flex: 1;
  gap: 10px;
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.person main h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.05rem;
}

.person main div {
  gap: 10px;
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}

.person main div > * {
  padding: 2px 8px;
  border-radius: 10px;
}

.person main div > .price {
  background-color: rgb(161, 205, 219) !important;
}

.person main div > .province {
  background-color: rgb(230, 162, 162);
}

.person main div > .region {
  background-color: rgb(138, 245, 138);
}

.person main div > .workType {
  background-color: rgb(179, 179, 179);
}
