* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: transparent;
  background-image: url("./assets/Project_74-12.jpg");
  background-position: 0;
}
